[user]
	name = Heng-Yi Wu
	email = 2316687+henry40408@users.noreply.github.com
	signingkey = 2316687+henry40408@users.noreply.github.com
[commit]
	gpgsign = yes
[core]
  editor = vim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[delta]
  side-by-side = true
