[colors]
# Base16 IR Black
# Author: Timothée Poisot (http://timotheepoisot.fr)

foreground          = #b5b3aa
foreground_bold     = #b5b3aa
cursor              = #b5b3aa
cursor_foreground   = #000000
background          = #000000

# 16 color space

# Black, Gray, Silver, White
color0  = #000000
color8  = #6c6c66
color7  = #b5b3aa
color15 = #fdfbee

# Red
color1  = #ff6c60
color9  = #ff6c60

# Green
color2  = #a8ff60
color10 = #a8ff60

# Yellow
color3  = #ffffb6
color11 = #ffffb6

# Blue
color4  = #96cbfe
color12 = #96cbfe

# Purple
color5  = #ff73fd
color13 = #ff73fd

# Teal
color6  = #c6c5fe
color14 = #c6c5fe

# Extra colors
color16 = #e9c062
color17 = #b18a3d
color18 = #242422
color19 = #484844
color20 = #918f88
color21 = #d9d7cc

[bar/mainbar0]
width = 100%
height = 64

background = ${colors.background}
foreground = ${colors.foreground}
bottom = true
border-size = 10
line-size = 2

dpi-x = 205
dpi-y = 205

font-0 = "JetBrainsMono Nerd Font Mono:style=Regular:size=10;6"
font-1 = "FiraCode Nerd Font:style=Regular:size=10;6"

modules-left = ewmh
modules-right = alsa cpu gpu memory filesystem wired-network date

tray-position = right
tray-background = ${colors.background}
tray-maxsize = 32

[module/ewmh]
type = internal/xworkspaces
label-active = " %icon% %name%  "
label-active-foreground = ${colors.color0}
label-active-background = ${colors.color2}
label-active-underline = ${colors.cursor_foreground}
label-occupied = " %icon% %name%  "
label-occupied-underline = ${colors.cursor_foreground}
label-urgent = " %icon% %name%  "
label-urgent-foreground = ${colors.color15}
label-urgent-background = ${colors.color1}
label-urgent-underline  = ${colors.cursor_foreground}
label-empty = " %icon% %name%  "
label-empty-foreground = ${colors.foreground}

[module/alsa]
type = internal/alsa

format-volume = <label-volume>

label-volume = 墳 %percentage:3%%
label-volume-background = ${colors.background}
label-volume-padding = 1

label-muted = 婢
label-muted-background = ${colors.background}
label-muted-foreground = ${colors.foreground}
label-muted-padding = 1

[module/cpu]
type = internal/cpu

format = <label> <ramp-coreload>
format-background = ${colors.background}
format-padding = 1

label = ﬙

ramp-coreload-spacing = 0
ramp-coreload-0 = ▁
ramp-coreload-0-foreground = ${colors.color2}
ramp-coreload-0-font = 2
ramp-coreload-1 = ▂
ramp-coreload-1-foreground = ${colors.color2}
ramp-coreload-1-font = 2
ramp-coreload-2 = ▃
ramp-coreload-2-foreground = ${colors.color3}
ramp-coreload-2-font = 2
ramp-coreload-3 = ▄
ramp-coreload-3-foreground = ${colors.color3}
ramp-coreload-3-font = 2
ramp-coreload-4 = ▅
ramp-coreload-4-foreground = ${colors.color5}
ramp-coreload-4-font = 2
ramp-coreload-5 = ▆
ramp-coreload-5-foreground = ${colors.color5}
ramp-coreload-5-font = 2
ramp-coreload-6 = ▇
ramp-coreload-6-foreground = ${colors.color1}
ramp-coreload-6-font = 2
ramp-coreload-7 = █
ramp-coreload-7-foreground = ${colors.color1}
ramp-coreload-7-font = 2

[module/gpu]
type = custom/script
exec = ~/.config/polybar/gpu.sh
interval = 1

format =  <label>
format-padding = 1
format-background = ${colors.background}

[module/memory]
type = internal/memory

format = <label> <ramp-used>
format-padding = 1
format-background = ${colors.background}
;label =  %gb_used:9%/%gb_total:9%
label = 

ramp-used-0 = ▁
ramp-used-0-foreground = ${colors.color2}
ramp-used-0-font = 2
ramp-used-1 = ▂
ramp-used-1-foreground = ${colors.color2}
ramp-used-1-font = 2
ramp-used-2 = ▃
ramp-used-2-foreground = ${colors.color3}
ramp-used-2-font = 2
ramp-used-3 = ▄
ramp-used-3-foreground = ${colors.color3}
ramp-used-3-font = 2
ramp-used-4 = ▅
ramp-used-4-foreground = ${colors.color5}
ramp-used-4-font = 2
ramp-used-5 = ▆
ramp-used-5-foreground = ${colors.color5}
ramp-used-5-font = 2
ramp-used-6 = ▇
ramp-used-6-foreground = ${colors.color1}
ramp-used-6-font = 2
ramp-used-7 = █
ramp-used-7-foreground = ${colors.color1}
ramp-used-7-font = 2


[module/filesystem]
type = internal/fs

mount-0 = /

format-mounted = <label-mounted>
format-mounted-padding = 1
format-mounted-background = ${colors.background}

label-mounted =  %percentage_used%%/%total%

[module/wired-network]
type = internal/network
interface = enp0s31f6

format-connected = <label-connected>

label-connected =   %upspeed:9%  %downspeed:9%
label-connected-background = ${colors.background}
label-connected-underline = ${colors.color2}
label-connected-padding = 1

label-disconnected = 
label-disconnected-background = ${colors.background}
label-disconnected-underline = ${colors.cursor_foreground}
label-disconnected-padding = 1

[module/date]
type = internal/date

date = %Y-%m-%d%
time = %H:%M

format =  <label>
format-background = ${colors.background}
format-padding = 1

label = %date% %time%

# vim: ft=dosini
